@{
    ViewData["Title"] = "ESGcheck";
}

<div class="text-center">
    <h1 class="display-4">ESGcheck</h1>
    <p>Welcome to a comprehensive tool designed for small and micro businesses to evaluate and enhance their sustainability practices. Our platform offers a detailed self-assessment, personalized feedback, and actionable recommendations tailored to your business needs.</p>
    <a href="/Home/SelfAssessment" class="btn btn-primary">Start Self-Assessment</a>
</div>
