@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>At ESGcheck, we are committed to protecting your privacy. This policy outlines how we handle and secure your business information and assessment results. We adhere to the highest standards of data protection and privacy regulation.</p>
